@import "~bootstrap/scss/bootstrap.scss";

.jumbotron{
    background-image: url(https://images.pexels.com/photos/3177260/pexels-photo-3177260.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position-y: bottom;
    color: white;
}

.card{
    width: 18rem;
}
.footer{
    height: 2.8rem;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
